<div class="page">
  <div class="inner">

    <div class="header">
      <div class="tag">Ahorcado</div>
      <h1>// Ahorcado</h1>
      <div class="puntajes">
        <div class="puntaje">Puntaje: {{ puntaje() }}</div>
        <div class="mejor-puntaje">Mejor: {{ mejorPuntaje() }}</div>
      </div>
    </div>

    <div class="img-frame">
      <img [src]="'assets/ahorcado/' + errores() + '.png'" alt="Imagen del ahorcado">
    </div>
    <!-- <div class="contador-vidas">Vidas restantes: {{ cantVidasRestantes() }}</div> -->
    <div class="contador-vidas">
      {{ '♥️'.repeat(cantVidasRestantes()) }}
    </div>


    <div class="palabra">
      @for(letra of palabraActual().split(''); track $index) {
        <div class="letra-slot">
          <div class="letra-char">
            {{ letrasSeleccionadas().includes(letra) ? letra : '' }}
          </div>
          <div class="letra-linea"></div>
        </div>
      }
    </div>

    <div class="botones-abecedario">
      @for(letra of abecedario; track letra) {
        <button
          (click)="seleccionarLetra(letra)"
          [disabled]="letrasSeleccionadas().includes(letra) || gano() || perdio()">
          {{ letra }}
        </button>
      }
    </div>

    @if(gano()) {
      <div class="resultado-gano">GANASTE 🎉</div>
    }
    @if(perdio()) {
      <div class="resultado-perdio">PERDISTE 💀 la palabra era {{ palabraActual() }}</div>
    }

    <div class="botones-container">
      <button type="button" class="btn-siguiente" (click)="siguientePalabra()">▶ Siguiente Palabra</button>
      <button type="button" class="btn-reiniciar" (click)="reiniciarJuego()">↺ Reiniciar</button>
      <div>
        <button type="button" class="btn-salir" (click)="salir()">Salir</button>
      </div>
    </div>

  </div>
</div>
